* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 20px;
}

.display-flex {
    display: flex;
}

.nav-container {
    justify-content: space-between;
    margin: auto;
    align-items: center;
    max-width: 1440px;
    padding: 50px 0;
}

.brand-logo {
    font-size: 2.6rem;
    font-weight: 700;
    color: #131313;
}

.nav-items {
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.nav-container li {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #424242;
    font-size: 1.13rem;
    font-weight: 500;
}

.banner {
    max-width: 1440px;
    margin: auto;

}

.banner-content {
    max-width: 868px;
    text-align: center;
    margin: auto;
    /* margin-bottom: 50px; */

}

.banner-content>* {
    margin-bottom: 25px;
}

.banner-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
    margin: 42px 0;
}

.banner-desc {
    font-size: 1rem;
    line-height: 1.7rem;
    color: #727272;

}

.banner img {
    width: 100%;
    vertical-align: middle;
    margin: 50px 0;
    border-radius: 8px;
}

.primary-btn {
    background-color: #FF900E;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
}

.primary-btn:hover {
    background-color: #6f3b00;
}

main * {
    max-width: 1440px;
    margin: auto;
}

.team {
    padding: 80px 30px 130px;
    gap: 30px;
}

.exp-content {
    max-width: 530px;
    justify-content: start;
}

.exp-image img {
    width: 100%;
}

.exp-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.exp-title {
    color: #727272;
    font-size: 2.7rem;
    font-weight: 500;
}

.exp-title-ob {
    color: #FF900E;
    font-weight: 700;
}

.exp-title-bb {
    color: #131313;
    font-weight: 700;
}

.exp-desc {
    color: #727272;
    font: 1rem;
    line-height: 1.5rem;
    margin: 30px 0;
}

.feature-container {
    justify-content: space-between;
    align-items: center;
    gap: 135px;

}

.feature-content {
    max-width: 586px;
}

.feature-right img {
    width: 100%;
}

.feature-title {
    color: #131313;
    font-size: 2.7rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-desc {
    color: #727272;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 35px 0;
}

.feature-card {
    padding: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

    margin-top: 20px;
}

.card-title {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-desc {
    font-size: 1rem;
    color: #727272;
    line-height: 1.5rem;
}

#badge {
    padding: 46px 42px;
    background-color: #FF900E;
    /* margin-top: -20px;
    margin-left: -100px; */
    position: absolute;
    bottom: -65px;
    left: -90px;
    border-radius: 8px;
}

.feature-right {
    position: relative;
}

.feature-right img {
    width: 100%;
}

.feature-year {
    color: white;
    font-size: 4rem;
    font-weight: 700;
}

.feature-exp {
    font-size: 1.5rem;
    color: white;
}

.fact-card {
    padding: 45px 36px 60px;
    border: 1px solid #FF900E;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.fact-number {
    font-size: 2.7rem;
    color: #424242;
    font-weight: 600;
}

.display-block {
    display: block;
    margin: 10px 0;
}

.fact-card-desc {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

.fact-container {

    margin-top: 130px;
}

.fact-card-container {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}

.fact-title {
    font-size: 2.7rem;
    color: #131313;
    font-weight: bold;
    margin-bottom: 24px;
}

.fact-desc {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #727272;

}

.sponsor-logo {
    gap: 154px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    margin-top: 50px;
}

.sponsor-logo img {
    margin: 0;
}

.sponsor-title {
    font-size: 2.7rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor {
    margin-top: 130px;
    margin-bottom: 130px;
    text-align: center;
}

.sponsor-desc {
    color: #727272;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 560px;
}

footer {
    max-width: 1440px;
    margin: auto;
    padding: 39px 0;
    text-align: center;
    background-color: #FFF4E7;
    color: #424242;
    font-size: 1.25rem;
}

/* Responsive */
/* Max-width:576px */

@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
        gap: 20px;
        padding: 30px 0px;
    }

    .nav-items {
        gap: 20px;
    }

    .banner-title {
        font-size: 2.3rem;
        margin: 10px 0;
    }

    .primary-btn {
        margin-bottom: 10px;
    }

    .banner img {
        margin: 10px 0;
    }

    .banner-content {
        gap: 5px;
    }

    .team {
        flex-direction: column;
        gap: 35px;
    }

    .feature-container {
        flex-direction: column-reverse;
        padding: 30px;
        gap: 100px;
    }

    #badge {
        position: absolute;
        text-align: center;
        bottom: -60px;
        left: 60px;
        padding: 30px;
    }

    .feature-exp {
        font-size: 1rem;
    }

    .feature-year {
        font-size: 2rem;
    }

    .fact-card-container {
        flex-direction: column;
        margin-top: 45px;

    }

    .fact-container {
        margin-top: 32px;
        text-align: center;
        padding: 30px;
    }

    .fact-card {
        width: 100%;
    }

    .sponsor-logo {
        gap: 35px;
    }

    .sponsor {
        padding: 30px;
    }
}

/* Min-width:576px ans Max-width:768px */
@media screen and (min-width:576px) and (max-width:768px) {
    .nav-container {
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;
    }

    .nav-items {
        gap: 30px;
    }

    .banner-title {
        font-size: 2.5rem;
        margin: 20px 0;
    }

    .primary-btn {
        margin-bottom: 10px;
    }

    .exp-content {
        margin: 0;
    }

    .team {
        flex-direction: column;
        gap: 30px;
    }

    .feature-container {
        flex-direction: column-reverse;
        padding: 30px;
        gap: 100px;
    }

    #badge {
        position: absolute;
        text-align: center;
        bottom: -60px;
        left: 85px;
        padding: 30px;
    }

    .fact-container {
        padding: 30px;
        text-align: center;
        margin-top: 30px;
    }

    .fact-card-container {
        flex-direction: column;
    }

    .fact-card {
        width: 80%;
    }

    .sponsor-logo {
        gap: 90px;
    }

    .sponsor {
        padding: 30px;
    }
}

/* Min-width:768px ans Max-width:992px */
@media screen and (min-width:768px) and (max-width:992px) {
    .nav-items {
        gap: 25px;
    }

    .banner-title {
        font-size: 2.5rem;
        margin: 20px 0;
    }

    .team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-container {
        flex-direction: column-reverse;
        padding: 30px;
        gap: 100px;
    }

    #badge {
        text-align: center;
        bottom: -60px;
        left: 60px;
        padding: 30px;
    }

    .fact-container {
        padding: 30px;
        text-align: center;
        margin-top: 30px;
    }

    .fact-card-container {
        flex-direction: column;
    }

    .fact-card {
        width: 80%;
    }

    .sponsor-logo {
        gap: 105px;
    }

    .sponsor {
        padding: 30px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .feature-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    #badge {
        text-align: center;
        bottom: -100px;
        left: 100px;
    }

    .feature-exp {
        font-size: 1.3rem;
    }

    .feature-year {
        font-size: 2rem;
    }

    .fact-card-container {
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .fact-container {
        padding: 30px;
        margin-top: 70px;
    }
}